<h1>Blog bejegyzések</h1>

<div class="container">
<% @article.each do |item| %>


<div class="card text-center shadow bg-white rounded">
  <div class="card-header">
    <h5 class="card-title">by Sediqwe</h5>
  </div>
  <div class="card-body">
    Cím:
    <p><%= link_to item.title, article_path(item), class:"text-success" %></p>
    Tartalom:
    <p class="card-text"><%= item.description %></p>
        <%= link_to "Mutat" , article_path(item) , class:"btn btn-primary" %>
<%= link_to "Módosít", edit_article_path(item), class:"btn btn-primary" %>
<%= link_to "Töröl" , article_path(item), method: :delete, data: { confirm: "Biztos vagy benne?"}, class:"btn btn-danger" %>
  </div>
  <div class="card-footer text-muted">
  <%= item.created_at %>
  </div>
</div>
<p></p>






<% end %>
</div>


</table>
<%= link_to "Új bejegyzés", new_article_path() %>
