<h1>Articles Index file</h1>

<table>
<thead>
<th>Title</th>
<th>Leírás</th>
<th>Action</th>
</thead>
<tbody>
<% @article.each do |item| %>


<tr>


<td><%= item.title %></td>
<td><%= item.description %></td>
<td>
<%= link_to "Mutat" , article_path(item) %>
<%= link_to "Módosít", edit_article_path(item) %>
<%= link_to "Töröl" , article_path(item), method: :delete, data: { confirm: "Biztos vagy benne?"} %>


  </td>
</tr>

<% end %>


</tbody>

</table>
<%= link_to "Új bejegyzés", new_article_path() %>
