<h1>Articles Index file</h1>

<table>
<thead>
<th>Title</th>
<th>Leírás</th>
<th>Action</th>
</thead>
<tbody>
<% @article.each do |item| %>


<tr>


<td><%= item.title %></td>
<td><%= item.description %></td>
<td>
<%= link_to "Mutat" , "/articles/#{ item.id }" %>
<%= link_to "Módosít" , "/articles/#{ item.id }/edit" %>
<%= link_to "Töröl" , "/articles/#{ item.id }" %>

  </td>
</tr>

<% end %>


</tbody>

</table>

