<div class="container">
  <h1 class="text-center">Userek adatai</h1>
  <div class="flickr_pagination mb-4">
  
    <%= will_paginate @user, :container => false %>
  </div>

  <% @user.each do |item| %>


    <div class="card text-center shadow bg-white rounded">
      <div class="card-header">
        <h5 class="card-title"><p><%= link_to item.username, item, class:"text-success" %>(#<%= item.id %>)</p></h5>
      </div>
      <div class="card-body">
        
        <%= gravatar_for item , size: 200 %>
        <br>
         Aktív post: <%= item.articles.count %><br><br>
        
            <%= link_to "Mutat" , user_path(item) , class:"btn btn-outline-primary" %>
        <%= link_to "Módosít", edit_user_path(item), class:"btn btn-outline-primary" %>
        <%= link_to "Töröl" , user_path(item), method: :delete, data: { confirm: "Biztos vagy benne?"}, class:"btn btn-outline-danger" %>
      </div>
      <div class="card-footer text-muted">
          Regisztrálva: <%= time_ago_in_words(item.created_at) %>
          
      </div>
    </div>
    <br>
  <% end %>

   <div class="flickr_pagination mb-4">
  
    <%= will_paginate @user, :container => false %>
  </div>
</div>



