<div class="container">
  <br>
    <div class="card text-center shadow bg-white rounded">
      <div class="card-header">
        <h5 class="card-title"><%= link_to @user.username, edit_user_path(@user.id), class: "bg-light"  %></h5>
      </div>
      <div class="card-body">
      <div class=" text-left">
      <%= gravatar_for @user , size: 200 %>
      </div>
        <%= link_to "Főoldal", users_path, class:"btn btn-primary" %>
      </div>
      <div class="card-footer text-muted">
          Létrehozva: <%= time_ago_in_words(@user.created_at) %>
          Módosítva:<%= time_ago_in_words(@user.updated_at) %>
      </div>
    </div>

    <%= render 'articles/article' %>
  
</div>




